
.app{
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;

}
.app.light {
  background-color: white;
  color: rgb(22, 22, 22);
}

/* */
/* .app.light .menu{
  background: rgb(247,247,247);
background: -moz-linear-gradient(144deg, rgba(247,247,247,1) 0%, rgba(238,238,238,1) 25%, rgba(252,252,252,1) 100%);
background: -webkit-linear-gradient(144deg, rgba(247,247,247,1) 0%, rgba(238,238,238,1) 25%, rgba(252,252,252,1) 100%);
background: linear-gradient(144deg, rgba(247,247,247,1) 0%, rgba(238,238,238,1) 35%, rgba(252,252,252,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7",endColorstr="#fcfcfc",GradientType=1);
} */

.app.dark {
  background-color: black;

  color: rgb(228, 228, 228);
}
.app.dark .corpo{
  margin: 0;
  display: flex;

  background: rgb(2,2,17);
  background: -moz-linear-gradient(126deg, rgba(2,2,17,1) 2%, rgba(32,32,32,1) 58%, rgba(2,6,34,1) 100%);
  background: -webkit-linear-gradient(126deg, rgba(2,2,17,1) 2%, rgba(32,32,32,1) 58%, rgba(2,6,34,1) 100%);
  background: linear-gradient(126deg, rgba(2,2,17,1) 2%, rgba(32,32,32,1) 58%, rgba(2,6,34,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020211",endColorstr="#020622",GradientType=1);

}
.corpo{
  margin: 0;
  display: flex;

  background: rgb(208,230,232);
  background: -moz-linear-gradient(126deg, rgba(208,230,232,1) 2%, rgba(247,247,247,1) 38%, rgba(255,250,207,1) 100%);
  background: -webkit-linear-gradient(126deg, rgba(208,230,232,1) 2%, rgba(247,247,247,1) 38%, rgba(255,250,207,1) 100%);
  background: linear-gradient(126deg, rgba(208,230,232,1) 2%, rgba(247,247,247,1) 38%, rgba(255,250,207,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d0e6e8",endColorstr="#fffacf",GradientType=1);


}
.text-abner{
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  gap: 30px;
  font-weight: 600;
  text-align: center;
  width: 90%;
  display: flex;
  padding: 40px;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.25);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(37, 37, 37, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.info-abner img{
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.1);
}
.info-acad{
  padding: 20px;
  display: block;
}
.block{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
h3{
  color: #757575;
  text-align: center;
}
h5{
  color: #757575;
  text-align: center;
}
.formacao{
  display: flex;
  gap: 20px;
  text-align: justify;
  margin-bottom: 20px;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.25);
  border: 1px solid rgba(238, 238, 238, 0.7);
  backdrop-filter: blur(30px);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  align-items: center;
  text-transform: uppercase;
}
.formacao p{
  width: 70%;
}
.app.light h4{
  color: #797979;
}
.ano{
  width: 10%;
  display: flex;
  text-align: end;
  align-items: center;
  justify-content: end;
}
.ano2{
  display: flex;
  font-size: 16px;
  text-align: justify;
  align-items: center;
  justify-content: end;
}
.menu{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.app.light a{
  color: #161616;
}
.infos{
  width: 100%;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
}
.divproj{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projetos{
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  max-width: 400px;

  padding: 24px 32px;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.25);
  border: 1px solid rgba(238, 238, 238, 0.7);
  backdrop-filter: blur(30px);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  align-items: center;
  text-transform: uppercase;
}
.infos img{
  background-color: #161616;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  
}
.app.dark a{
  color: #a8a8a8;
}

.app.light .toggle-button {
  background-color: #424242;
  color: #fff;
}

.app.dark .infos{
  /* background-color:#0A0A0A ; */
}
.app.dark .toggle-button {
  background-color: #dfdfdf;
  color: #000;
}
.menu{
  height: 100vh;
  padding: 30px;
  font-size: 22px;
  min-width: fit-content;
  gap: 40px;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.language-switch img{
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 0 5px;
}
.menu a{display: inline-block;
  padding: 24px 32px;
  font-family: "Poppins", sans-serif;

  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.15);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
.menu a:hover{
  background-color: rgba(255,255,255,0.3);
}

