
.app{
  width: 100%;
  height: 100%;
}
.app.light {
  background-color: white;
  color: rgb(22, 22, 22);
}
/* */
/* .app.light .menu{
  background: rgb(247,247,247);
background: -moz-linear-gradient(144deg, rgba(247,247,247,1) 0%, rgba(238,238,238,1) 25%, rgba(252,252,252,1) 100%);
background: -webkit-linear-gradient(144deg, rgba(247,247,247,1) 0%, rgba(238,238,238,1) 25%, rgba(252,252,252,1) 100%);
background: linear-gradient(144deg, rgba(247,247,247,1) 0%, rgba(238,238,238,1) 35%, rgba(252,252,252,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7",endColorstr="#fcfcfc",GradientType=1);
} */
.app.dark .menu{
  background-color: #0A0A0A;
}
.app.dark {
  background-color: black;

  color: rgb(228, 228, 228);
}
.corpo{
  margin: 0;
  display: flex;

  background: rgb(208,230,232);
  background: -moz-linear-gradient(126deg, rgba(208,230,232,1) 2%, rgba(247,247,247,1) 38%, rgba(255,250,207,1) 100%);
  background: -webkit-linear-gradient(126deg, rgba(208,230,232,1) 2%, rgba(247,247,247,1) 38%, rgba(255,250,207,1) 100%);
  background: linear-gradient(126deg, rgba(208,230,232,1) 2%, rgba(247,247,247,1) 38%, rgba(255,250,207,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d0e6e8",endColorstr="#fffacf",GradientType=1);


}
.info-abner{
  margin-top: 40px;
  gap: 30px;
  width: 90%;
  display: flex;
  padding: 40px;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.15);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(37, 37, 37, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.info-acad{
  padding: 20px;
  display: block;
}
.formacao{
  display: flex;
  gap: 20px;
  text-align: justify;
}
.formacao p{
  width: 70%;
}
.ano{
  width: 10%;
  display: flex;
  text-align: end;
  align-items: center;
  justify-content: end;
}
.menu{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.app.light a{
  color: #161616;
}
.app.dark a{
  color: #a8a8a8;
}

.app.light .toggle-button {
  background-color: #424242;
  color: #fff;
}

.app.dark .infos{
  /* background-color:#0A0A0A ; */
}
.app.dark .toggle-button {
  background-color: #dfdfdf;
  color: #000;
}
.menu{
  height: 100vh;
  padding: 30px;
  font-size: 22px;
  min-width: fit-content;
  gap: 40px;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.menu a{display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.15);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
.menu a:hover{
  background-color: rgba(255,255,255,0.3);
}

